:markdown
  ## Senior

  Senior Support Engineers are more experienced engineers who meet the following
  criteria:

  - Technical Skills
    - Can solve most support tickets in a reasonable time without escalating to development
    - Expert in most [advanced topics](/handbook/support/advanced-topics/) (e.g. LDAP, Jenkins/CI integration, Geo)
    - Deep understanding of GitLab internals and a variety of possible configurations
    - Debug challenging problems
    - Submit merge requests to resolve GitLab bugs
  - Leadership
    - Help hire and train new Support Engineers
    - Become a go-to person for the other Support Engineers when they face tough challenges
  - Communication
    - Take ownership of improving documentation
    - Lead by example in terms of solving a customer issue, updating documentation as a result, and then radiating this knowledge through documentation. As a guide, tech overview, or tutorial.
    - Drive feature requests based on customer interactions
  - Suggest and implement improvements to the support workflow
  - Contribute to one or more complementary projects
